sunrgbd/sunrgbd_data/matlab/SUNRGBDtoolbox/mysunrgbd/*
sunrgbd/sunrgbd_detection/image_results/*
sunrgbd/sunrgbd_detection/ap_curves/*
sunrgbd/sunrgbd_data/matlab/SUNRGBD/*
dataset/KITTI/object/*
sunrgbd/sunrgbd_detection/log/*
sunrgbd/sunrgbd_detection/test_results/*
sunrgbd/sunrgbd_detection/*.pickle
kitti/*.pickle
kitti/*.bin
kitti/*.pcd
.idea/
train/detection_results_v1/*
train/kitti/*
train/log_v1/*
train/log_v2/*
train/train/*
mayavi/__pycache__/*
models/__pycache__/*
kitti/__pycache__/*
models/tf_ops/sampling/__pycache__/*
sunrgbd/sunrgbd_data/__pycache__/*
sunrgbd/sunrgbd_detection/__pycache__/*
train/__pycache__/*
train/log/*
sunrgbd/sunrgbd_data/matlab/SUNRGBDtoolbox/octave-workspace
sunrgbd/sunrgbd_data/matlab/SUNRGBDtoolbox/label_error/*
sunrgbd/sunrgbd_data/matlab/SUNRGBDtoolbox/Metadata/*
sunrgbd/sunrgbd_data/matlab/SUNRGBDtoolbox/test.m
sunrgbd/sunrgbd_data/matlab/SUNRGBDtoolbox/traintestSUNRGBD/*
*.pyc
sunrgbd/sunrgbd_detection/viz_results
sunrgbd/sunrgbd_detection/dataset_all
sunrgbd/sunrgbd_detection/log*







